/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

#gallery {
	.flex-container {
		.gal-item {
			width: 20%;
			height: 220px;
		}
	}
}

.c {
	p {
		font-size: 18px;
	}
}

//Booking
.hb-accom-title {
	display: none;
}

.hb-accom-price {
	display: none;
}

.hb-accom-price-caption {
	display: none;
}

.flex-container {
	.d {
		display: block;
	}
	.c {
		width: 50%;
		.container {
			width: 93%;
		}
	}
}

.hb-accom-desc {
	padding: 50px 0px 70px;
	.flex-container {
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
	}
	image {
		width: 50%;
	}
}

.image {
	width: 44%;
}

.content-listing {
	width: 50%;
}

.image img {
	width: 100%;
}

//Rooms
.container-in {
	width: 750px;
	position: relative;
	margin: 0 auto;
}

.stamp img {
	width: 100px;
}

h1.lead {
	font-size: 100px;
	padding: 12px 0px 40px;
}

#amenities {
	.flex-container {
		.am-item {
			width: 25%;
			max-height: 313px;
		}
	}
}

.textbox {
	.container {
		padding: 30px 0px;
		min-height: 282px;
	}
}

.room-gal {
	.item {
		height: 190px;
		min-height: 190px;
		img {
			position: relative;
			top: -18px;
		}
	}
}

.main_visual {
	width: 50%;
	max-width: 580px;
	overflow: hidden;
	img {
		width: 110%;
		position: relative;
	}
}

.gal-item.hide {
	display: none;
}

#room {
	padding: 150px 0px;
	.flex-container {
		width: 95%;
		padding: 65px 0px 0px 0px;
		align-items: center;
	}
}

.sidebox {
	width: 50%;
}

//About
#dinein {
	padding: 100px 0px;
	.flex-container {
		.img {
			margin: 0px;
			height: 570px;
		}
	}
}

.form {
	width: 50%;
}

div#map {
	width: 50%;
	height: 120vh;
}

#grid1 {
	.flex-container {
		.fullbox {
			padding: 57px;
			p {
				font-size: 18px;
			}
		}
	}
}

section#connect {
	.flex-container {
		padding: 150px 0px;
	}
}

//Things to Do
.guidebar {
	.flex-container {
		justify-content: space-between;
		margin: 0 auto;
		max-width: 620px;
	}
	a {
		font-size: 13px;
		letter-spacing: 3px;
		font-weight: 900;
	}
}

//Gallery
.intro {
	height: 100vh;
}

.intro-narrow {
	margin-top: 50px;
}

//Contact
.address {
	width: 360px;
	a {
		color: inherit;
	}
}

#hero-narrow {
	max-height: 490px;
	background-size: cover !important;
	width: 100%;
}

.intro.narrow {
	height: 490px;
}

#content-short {
	.flex-container {
		width: 80%;
		margin: 0 auto;
		max-width: 1100px;
		justify-content: space-between;
	}
	.flex-item {
		width: 48%;
	}
	
	.boxer {
    background: whitesmoke;
    padding: 41px;
}
}
