/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

#room{
    .flex-container{
        width: 80%;
    }
}

#wrapper{
    max-height: 990px;
}

#grid1{
    .flex-container{
        .flex-image{
            background-position-y: -157px !important;
        }
    }
}
.flex-container-2col {
    width: 97%;
    margin: 0 auto;
    padding: 70px 0px;
        display: flex;
    flex-wrap: wrap;
    justify-content: center;

    
    .flex-item {
    width: 48%;
}

    
}

.biz-img{
    width: 45%;
}

.flex-container{
    .c{
        .container{
            width: 73%;
        }
    }
}