/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

    .overlay ul li a {

        font-size: inherit;
    }

#hero {
    background-size: cover !important;
}

.content{
    height: 93vh;
}

#map{
    margin-top: 0px;
}

.hb-search-fields.hb-clearfix p {
    padding: 0px 5px;
    margin: 0px;
}

#container{
    background:#f5f5f5;
}
#landing {
    width: 740px;
    margin: 0 auto;
    top: -110px;
}

.c{
    p{font-size: 18px;}
}

#gallery {
    
    .gal-item {
        width: 33%;
        height: 250px;
        border: 1px solid white;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1100px;
        padding-bottom: 100px;
    }
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#wrapper div {
    //flex:1 0 auto;
}

#a {
    flex-grow: 0;
    flex-basis: 50%;
    align-self: stretch;
    width: 660px;
    background-size: cover !important;
    .container {
        height: 100%;
        padding: 40px;
        margin: 0 auto;
        position: relative;
        .bttn-whiteline {
            position: absolute;
            bottom: 60px;
        }
    }
    h2 {
        color: white;
        font-size: 51px;
        line-height: 1.2;
        margin: 0;
    }
    h3 {
        color: white;
        margin: 0;
    }
}

#a2 {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-size: cover !important;
}

#b {
    flex-basis: 100%;
    height: 50%;
    background-size: cover !important;
    width: 100%;
        background-position: center !important;
}

.flex-container {
    display: flex;
    .c {
        width: 100%;
        height: 353px;
        padding: 17px;
        background: white;
        .container {
            width: 70%;
            margin: 0 auto;
        }
        h4 {
            text-align: center;
            margin: 0;
        }
    }
    .d {
        flex: 1;
        background-size: cover !important;
        width: 50%;
        min-height: 380px;

    }
}

//About
.flex-container.b {
    width: 50%;
}

#grid1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .flex-container {
        width: 50%;
        .flex-image {
            width: 100%;
            height: inherit;
            background-size: cover !important;
        }
        
        .fullbox{
            p{
                font-size: 14px;
            }
        }
    }
}

#gallery{
    .flex-container{
        .gal-item{
            width: 33.3%;
        }
    }
}
        
        #dinein{
            .flex-container{
                flex-direction: row;
                align-items: center;
                
                .copy{width: 50%;
                
                    .wrapper{
                        max-width: 360px;
                        padding: 70px 0px;
                    }
                }
                
                .img{
                    width: 50%;
                    height: 540px;
                }
            }
        }

//Rooms

#room{
     padding: 100px 0px;
}


.container-in{
    padding: 15px 0px;
    .container{
        width: 55%;
    }
}

#amenities{
    .flex-container{
        .am-item{
            width: 25%;
        }
    }
}

//Things To Do

.biz-img {
    width: 40%;
}

.biz-copy {
    width: 43%;
    text-align: left;
}

.flex-container-2col {
    
    .flex-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
}