    /******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/
    /*********************
GENERAL STYLES
*********************/
    
    html {
    	margin: 0 !important;
    	background: white;
    }
    
    #container {
    	position: relative;
    	background: white !important;
    }
    
    .h-wrapper {
    	background: white !important;
    	max-width: 1430px;
    	margin: 0 auto;
    }
    
    body {
    	font-size: 100%;
    	line-height: 1.5;
    	background-color: #f5f5f5;
    	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    	width: 100%;
    }
    
    .booknow.hidden {
    	display: none;
    }
    
    .mk.hidden {
    	display: none;
    }
    
    .searchform {
    	max-width: 80%;
    }
    
    .hb-search-fields.hb-clearfix p {
    	padding: 0px;
    	margin: 0px;
    }
    
    .hb-search-button-wrapper input {
    	text-decoration: none;
    	font-family: 'avantgarde';
    	text-transform: uppercase;
    	letter-spacing: 2px;
    	border: 1px solid white;
    	padding: 13px;
    	margin-right: 9px;
    	font-size: 12px;
    	transition: .5s;
    	background-color: rgba(0, 0, 0, 0.52) !important;
    	color: white;
    	width: 100%;
    	&:hover {
    		transition: .2s;
    		background: white;
    		color: $black;
    	}
    }
    
    .hb-horizontal-search-form .hb-search-button-wrapper input {
    	text-decoration: none;
    	font-family: 'avantgarde';
    	text-transform: uppercase;
    	letter-spacing: 2px;
    	border: 1px solid white;
    	padding: 13px;
    	margin-right: 9px;
    	font-size: 12px;
    	transition: .5s;
    	background-color: rgba(0, 0, 0, 0.52);
    	color: white;
    	&:hover {
    		transition: .2s;
    		background: white;
    		color: $black;
    	}
    }
    
    h1.lead {
    	color: white;
    	font-size: 80px;
    	margin: 0;
    	padding: 0;
    	line-height: 1;
    }
    
    p {
    	font-size: 20px;
    }
    
    h2 {
    	font-family: $sans-serif;
    	letter-spacing: -1px;
    }
    
    h3,
    h4,
    h5 {
    	font-family: $sans-serif;
    }
    
    h4 {
    	font-size: 18px;
    }
    
    p {
    	font-family: $serif;
    }
    
    .bttn-whiteline {
    	a {
    		color: white;
    		text-decoration: none;
    		font-family: 'avantgarde';
    		text-transform: uppercase;
    		letter-spacing: 2px;
    		border: 1px solid white;
    		padding: 13px;
    		margin-right: 9px;
    		font-size: 12px;
    		transition: .5s;
    		background-color: rgba(0, 0, 0, 0.52);
    		&:hover {
    			transition: .2s;
    			background: white;
    			color: $black;
    		}
    	}
    }
    
    .btn-gray {
    	padding: 12px 11px;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	text-decoration: none;
    	color: gray;
    	border: 1px solid gray;
    	transition: .5s;
    	font-size: 12px;
    	font-weight: 900;
    	position: relative;
    	top: 20px;
    	font-family: $sans-serif;
    	&:hover {
    		transition: .3s;
    		color: white;
    		background: black;
    	}
    }
    
    //Mobile
    @media screen and (max-width: 800px) {
    	.hide {
    		display: none;
    	}
    	.overlay ul li a {
    		font-size: 33px;
    	}
    }
    
    .menu {
    	left: 32px;
    	top: 25px;
    	position: absolute;
    	display: flex;
    	p {
    		padding-left: 23px;
    	}
    }
    
    .mk {
    	img {
    		width: 50px;
    	}
    }
    
    .mobilemenu {
    	position: absolute;
    	display: flex;
    	z-index: 99;
    	width: 100%;
    	justify-content: space-between;
    	button {
    		background: transparent;
    		border: none;
    		color: white;
    		font-size: 13px;
    		text-transform: uppercase;
    		letter-spacing: 3px;
    		font-weight: 900;
    		font-family: $sans-serif;
    	}
    	.booknow {
    		position: absolute;
    		top: 44px;
    		right: 29px;
    		a {
    			color: white;
    			text-decoration: none;
    			text-transform: uppercase;
    			font-weight: 900;
    			letter-spacing: 2px;
    			border: 1px solid white;
    			padding: 11px 29px 8px;
    			font-size: 13px;
    			font-family: $sans-serif;
    			transition: .5s;
    			&:hover {
    				background: white;
    				transition: .3s;
    				color: $black;
    			}
    		}
    	}
    }
    /* Overlay style */
    
    .overlayer {
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	background: rgba(0, 0, 0, 0.3);
    }
    
    .overlay {
    	position: fixed;
    	width: 100%;
    	height: 100%;
    	top: 0;
    	left: 0;
    	background: rgba(0, 0, 0, 0.9);
    }
    /* Overlay closing cross */
    
    .overlay .overlay-close {
    	width: 80px;
    	height: 80px;
    	position: absolute;
    	right: 20px;
    	top: 20px;
    	overflow: hidden;
    	border: none;
    	background: url(../img/cross.png) no-repeat center center;
    	text-indent: 200%;
    	color: transparent;
    	outline: none;
    	z-index: 100;
    }
    /* Menu style */
    
    .overlay nav {
    	text-align: center;
    	position: relative;
    	top: 50%;
    	height: 60%;
    	font-size: 54px;
    	-webkit-transform: translateY(-50%);
    	transform: translateY(-50%);
    }
    
    .overlay ul {
    	list-style: none;
    	padding: 0;
    	margin: 0 auto;
    	display: inline-block;
    	height: 100%;
    	position: relative;
    }
    
    .overlay ul li {
    	display: block;
    	height: 20%;
    	height: calc(100% / 7);
    	min-height: 64px;
    }
    
    .overlay ul li a {
    	font-weight: 300;
    	display: block;
    	color: #a5a5a5;
    	-webkit-transition: color 0.2s;
    	transition: color 0.2s;
    	font-family: $sans-serif;
    	text-decoration: none;
    	font-weight: 900;
    }
    
    .overlay ul li a:hover,
    .overlay ul li a:focus {
    	color: white;
    	;
    }
    /* Effects */
    
    .overlay-hugeinc {
    	opacity: 0;
    	visibility: hidden;
    	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
    	transition: opacity 0.5s, visibility 0s 0.5s;
    }
    
    .overlay-hugeinc.open {
    	opacity: 1;
    	visibility: visible;
    	-webkit-transition: opacity 0.5s;
    	transition: opacity 0.5s;
    	z-index: 999;
    }
    
    .overlay-hugeinc nav {
    	-webkit-perspective: 1200px;
    	perspective: 1200px;
    }
    
    .overlay-hugeinc nav ul {
    	opacity: 0.4;
    	-webkit-transform: translateY(-25%) rotateX(35deg);
    	transform: translateY(-25%) rotateX(35deg);
    	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    	transition: transform 0.5s, opacity 0.5s;
    }
    
    .overlay-hugeinc.open nav ul {
    	opacity: 1;
    	-webkit-transform: rotateX(0deg);
    	transform: rotateX(0deg);
    }
    
    .overlay-hugeinc.close nav ul {
    	-webkit-transform: translateY(25%) rotateX(-35deg);
    	transform: translateY(25%) rotateX(-35deg);
    }
    
    @media screen and (max-height: 30.5em) {
    	.overlay nav {
    		height: 70%;
    		font-size: 34px;
    	}
    	.overlay ul li {
    		min-height: 34px;
    	}
    }
    
    //
    .top {
    	min-height: 347px;
    	background: url(/wp-content/themes/BonesTheme/library/images/mkeBW_2500.jpg) no-repeat center center fixed;
    	-webkit-background-size: cover;
    	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;
    	padding-bottom: 120px;
    }
    
    .logo {
    	width: 100%;
    	min-height: 180px;
		padding-bottom: 50px !important;
		
    	img {
    		width: 90%;
    		max-width: 600px;
    		display: block;
    		vertical-align: center;
    		margin: 0 auto;
    	}
    }
    
    .content {
    	z-index: 1;
    	align-content: center;
    	align-items: center;
    	justify-content: center;
    	height: 113vh;
    	display: flex;
    	flex-wrap: wrap;
    	min-height: 810px;
    }
    /*********************
HEADER STYLES
*********************/
    
    .comingSoon {
    	position: relative;
    	text-align: center;
    	line-height: 1.5;
    	padding: 50px 20px 60px 20px;
    	display: block;
    	h3 {
    		display: inline-block;
    		text-transform: uppercase;
    		font-size: 14px;
    		padding: 10px 17px 10px 20px;
    		letter-spacing: .3em;
    		color: black;
    		position: relative;
    		background: rgba(0, 0, 0, .3);
    	}
    }
    /*********************
INFO
*********************/
    
    .info {
    	width: 80%;
    	max-width: 600px;
    	height: auto;
    	background-color: white;
    	display: block;
    	margin: auto;
    	padding: 20px;
    	text-align: center;
    	z-index: 2;
    	position: relative;
    	bottom: 72px;
    }
    /*********************
FOOTER STYLES
*********************/
    
    .center {
    	width: 100%;
    	margin-bottom: 11px;
    }
    
    .center {
    	width: 100%;
    	img {
    		width: 37px;
    	}
    }
    
    .chimpFoot {
    	position: relative;
    	bottom: 0px;
    	width: 100%;
    	background: black;
    	padding: 0px 0px 30px 0px;
    	z-index: 1;
    }
    
    #mc_embed_signup form {
    	padding: none;
    	max-width: 600px;
    	display: block;
    	margin: auto;
    }
    
    #mc_embed_signup {
    	background-color: black !important;
    }
    
    #mc_embed_signup label {
    	color: white;
    	font-family: 'Quicksand', sans-serif;
    	text-transform: uppercase;
    	padding: 0px 0px 25px 0px !important;
    	letter-spacing: 1px;
    	font-size: 15px;
    }
    
    #mc_embed_signup input.email {
    	background-color: black !important;
    	border: 1px solid white !important;
    	font-color: white !important;
    	border-radius: 0px !important;
    	padding: 19px 15px 21px 15px !important;
    }
    
    #mc_embed_signup .button {
    	border-radius: 0px !important;
    	background-color: #323232 !important;
    	border: 1px solid white;
    	text-transform: lowercase;
    	padding: 4px 15px 38px 15px !important;
    	margin-left: 10px !important;
    	width: 150px;
    }
    
    #mc_embed_signup .button:hover {
    	background-color: #181818 !important;
    }
    
    @media (max-width: 768px) {
    	#mc_embed_signup label {
    		width: 250px !important;
    		text-align: center;
    		display: block;
    		margin: auto;
    	}
    	#mc_embed_signup input.email {
    		width: 250px !important;
    	}
    	#mc_embed_signup .button {
    		width: 250px !important;
    		margin: 10px 0px 0px 0px !important;
    	}
    }
    
    //Home
    .searchform {
    	h2 {
    		color: white;
    		text-align: center;
    	}
    	h3 {
    		display: none;
    	}
    	input {
    		border-radius: 0px;
    		background: white;
    	}
    	select {
    		border-radius: 0px;
    		background: white;
    	}
    }
    
    .hb-dp-day>a,
    .hb-dp-day>span {
    	display: block;
    	height: 100%;
    	text-decoration: none;
    	color: #404040;
    }
    
    input[type="text"]:focus,
    input[type="text"]:active,
    input[type="password"]:focus,
    input[type="password"]:active,
    input[type="datetime"]:focus,
    input[type="datetime"]:active,
    input[type="datetime-local"]:focus,
    input[type="datetime-local"]:active,
    input[type="date"]:focus,
    input[type="date"]:active,
    input[type="month"]:focus,
    input[type="month"]:active,
    input[type="time"]:focus,
    input[type="time"]:active,
    input[type="week"]:focus,
    input[type="week"]:active,
    input[type="number"]:focus,
    input[type="number"]:active,
    input[type="email"]:focus,
    input[type="email"]:active,
    input[type="url"]:focus,
    input[type="url"]:active,
    input[type="search"]:focus,
    input[type="search"]:active,
    input[type="tel"]:focus,
    input[type="tel"]:active,
    input[type="color"]:focus,
    input[type="color"]:active,
    select:focus,
    select:active,
    textarea:focus,
    textarea:active,
    .field:focus,
    .field:active {
    	background-color: #efefef;
    	outline: none;
    }
    
    .hbook-wrapper label {
    	color: white;
    	font-family: $sans-serif;
    	font-size: 12px;
    	padding-bottom: 5px;
    	text-transform: uppercase;
    	letter-spacing: 2px;
    }
    
    section#hero {
    	height: 100vh;
    	min-height: 800px;
    	max-height: 1050px;
    	background-size: cover!important;
    	background-position: center !important;
    	position: relative;
    	transition: background 1s linear;
    	-moz-transition: background 1s linear;
    	-webkit-transition: background 1s linear;
    	.logo {
    		img {
    			width: 60%;
    			max-width: 400px;
    		}
    	}
    }
    
    #map {
    	height: 500px;
    }
    
    @media (max-width: 600px) {
    	#hero {
    		background-position: -200px 0px !important;
    	}
    }
    
    .bttn-group {
    	display: flex;
    	margin: 0 auto;
    	justify-content: center;
    }
    
    #landing {
    	position: relative;
    	background: #f3f3f3;
    	.container {
    		padding: 30px;
    		max-width: 660px;
    		margin: 0 auto;
    		h2 {
    			text-align: center;
    		}
    		p {
    			font-size: 18px;
    			line-height: 1.5;
    			text-align: center;
    		}
    	}
    }
    
    #gallery {
    	padding-bottom: 2px;
    	.container {
    		display: flex;
    		flex-wrap: wrap;
    		padding: 40px 0px 39px;
    	}
    	.gal-item {
    		width: 50%;
    		line-height: 0;
    		margin: 0;
    		height: 170px;
    		background-size: cover !important;
    		padding: 1px;
    		overflow: hidden;
    		border: 1px solid white;
    		img {
    			width: 100%;
    		}
    	}
    }
    
    .c {
    	p {
    		margin: 0;
    	}
    }
    
    #mosaic {
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	.item01 {
    		height: 65vh;
    		background-size: cover!important;
    		flex: 1;
    		.container {
    			height: 100%;
    			padding: 40px;
    			margin: 0 auto;
    			position: relative;
    			.bttn-whiteline {
    				position: absolute;
    				bottom: 60px;
    			}
    		}
    		h2 {
    			color: white;
    			font-size: 51px;
    			line-height: 1.5;
    			margin: 0;
    		}
    		h3 {
    			color: white;
    			margin: 0;
    		}
    	}
    	.item02 {
    		height: 200px;
    		background-size: cover !important;
    		width: 100%;
    		margin: 2px 0px 2px 0px;
    		flex: 1;
    	}
    	.item03 {
    		.container {
    			width: 80%;
    			margin: 0 auto;
    			padding: 40px 0px 40px 0px;
    		}
    		h4 {
    			text-align: center;
    			margin: 0;
    		}
    	}
    	.item04 {
    		width: 80%;
    		background-size: contain !important;
    		height: 440px;
    		background-repeat: no-repeat !important;
    		margin: 0 auto;
    	}
    }
    
    #wrapper {
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: space-between;
    }
    
    #wrapper div {
    	//flex:1 0 auto;
    }
    
    #a {
    	flex-grow: 0;
    	flex-basis: 100%;
    	align-self: stretch;
    	border: 1px solid white;
    	background-size: cover !important;
    	.container {
    		height: 100%;
    		padding: 40px;
    		margin: 0 auto;
    		position: relative;
    		.bttn-whiteline {
    			position: absolute;
    			bottom: 60px;
    		}
    	}
    	h2 {
    		color: white;
    		font-size: 51px;
    		line-height: 1.2;
    		margin: 0;
    	}
    	h3 {
    		color: white;
    		margin: 0;
    	}
    }
    
    #a2 {
    	width: 100%;
    	display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: space-between;
    	background-size: cover !important;
    }
    
    #b {
    	flex-basis: 100%;
    	background-size: cover !important;
    	width: 100%;
    	border: 1px solid white;
    	height: 300px;
    }
    
    .flex-container {
    	display: flex;
    	flex-wrap: wrap;
    	.c {
    		display: flex;
    		align-items: center;
    		height: 432px;
    		padding: 30px;
    		background: white;
    		.container {
    			width: 90%;
    			margin: 0 auto;
    		}
    		h4 {
    			text-align: center;
    			margin: 0;
    		}
    	}
    	.d {
    		background-size: cover !important;
    		width: 100%;
    		height: 312px;
    		border: 1px solid white;
    		display: none;
    	}
    }
    
    section#map {
    	overflow: hidden;
    	iframe {
    		width: 100%;
    		height: 60vh;
    	}
    }
    
    //Footer
    footer.footer {
    	background: whitesmoke;
    }
    
    div#inner-footer {
    	display: flex;
    	align-items: center;
    	justify-content: center;
    	padding: 20px 0px 20px 0px;
    	flex-wrap: wrap;
    	text-align: center;
    	.left {
    		li {
    			list-style: none !important;
    			display: inline;
    			margin-right: 11px;
    			a {
    				color: $gray;
    				text-decoration: none;
    				font-size: 10px
    			}
    		}
    	}
    	.right {
    		color: $gray;
    		padding-left: 16px;
    		font-size: 11px;
    	}
    }
    
    //About
    .intro {
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;
    	height: 100vh;
    	min-height: 520px;
    	width: 80%;
    	margin: 0 auto;
    	text-align: center;
    	h1 {
    		color: white;
    		font-size: 60px;
    		line-height: 1.2;
    		margin: 0;
    		padding: 0;
    	}
    	h2 {
    		margin: 0;
    		color: #d8d8d8;
    	}
    }
    
    .intro-narrow {
    	display: flex;
    	flex-direction: column;
    	align-items: center;
    	justify-content: center;
    	height: 20vh;
    	width: 80%;
    	margin: 0 auto;
    	text-align: center;
    	margin-top: 60px;
    	margin-bottom: 60px;
    	h1 {
    		color: white;
    		font-size: 60px;
    		line-height: 1.2;
    		margin: 0;
    		padding: 0;
    	}
    	h2 {
    		margin: 0;
    		color: #d8d8d8;
    	}
    }
    
    #grid1 {
    	.flex-container {
    		flex-wrap: wrap;
    		.fullbox {
    			width: 100%;
    			padding: 40px;
    			background: #f3f3f3;
    		}
    		.gallery {
    			width: 50%;
    			height: 34vh;
    			border: 1px solid #f3f3f3;
    			background-size: cover !important;
    		}
    		.flex-image {
    			width: 100%;
    			background-size: cover !important;
    			height: 640px;
    			img {
    				width: 100%;
    				padding: 2px 0px 2px 0px;
    			}
    		}
    	}
    }
    
     ::-webkit-input-placeholder {
    	font-size: 14px;
    	color: black;
    }
    
     ::-moz-placeholder {
    	font-size: 14px;
    	color: black;
    }
    /* firefox 19+ */
    
     :-ms-input-placeholder {
    	font-size: 14px;
    	color: black;
    }
    /* ie */
    
    input:-moz-placeholder {
    	font-size: 14px;
    	color: black;
    }
    
    section#connect {
    	background: white;
    	.wrapper {
    		width: 80%;
    		margin: 0 auto;
    		padding: 50px 0px 50px 0px;
    	}
    	.flex-container {
    		flex-direction: column;
    		justify-content: center;
    		text-align: center;
    		padding: 50px 0px 50px 0px;
    		width: 80%;
    		max-width: 490px;
    		margin: 0 auto;
    		h2 {
    			margin: 0;
    		}
    		p {
    			margin: 0;
    		}
    	}
    }
    
    #gallery {
    	.flex-container {
    		flex-wrap: wrap;
    		justify-content: space-around;
    	}
    }
    
    #dinein {
    	.flex-container {
    		flex-direction: column;
    		.copy {
    			.wrapper {
    				width: 80%;
    				margin: 0 auto;
    				padding: 50px 0px 100px 0px;
    			}
    		}
    		.img {
    			height: 400px;
    			width: 100%;
    			border: 1px solid #f3f3f3;
    			background-size: cover !important;
    			background-position: center !important;
    		}
    	}
    }
    
    .adjust {
    	margin-top: -154px;
    }
    
    //Booking
    button.closer {
    	font-family: fontawesome;
    	border: none;
    	background: transparent;
    	position: absolute;
    	top: 20px;
    	right: 20px;
    }
    
    .alert {
    	position: relative;
    	width: 80%;
    	margin: 0 auto;
    	max-width: 630px;
    	background: whitesmoke;
    	padding: 50px;
    	a {
    		color: black;
    	}
    }
    
    .hb-search-error {
    	color: #ffffff;
    	padding: 0px;
    	margin: 0px;
    	text-align: center;
    }
    
    .hb-search-button-wrapper input {}
    
    #results {
    	padding: 60px 0px 92px;
    	.container {
    		max-width: 1100px;
    	}
    	input[type="button"] {
    		padding: 12px 11px;
    		text-transform: uppercase;
    		letter-spacing: 1px;
    		text-decoration: none;
    		color: gray;
    		border: 1px solid gray;
    		transition: .5s;
    		font-size: 12px;
    		font-weight: 900;
    		position: relative;
    		background: transparent !important;
    		font-family: $sans-serif;
    		&:hover {
    			transition: .3s;
    			color: white;
    			background: black !important;
    		}
    	}
    	input[type="submit"] {
    		padding: 12px 11px;
    		text-transform: uppercase;
    		letter-spacing: 1px;
    		text-decoration: none;
    		color: gray;
    		border: 1px solid gray;
    		transition: .5s;
    		font-size: 12px;
    		font-weight: 900;
    		position: relative;
    		background: transparent !important;
    		font-family: $sans-serif;
    		&:hover {
    			transition: .3s;
    			color: white;
    			background: black !important;
    		}
    	}
    }
    
    .hb-accom-title {
    	display: none;
    }
    
    .hb-accom-price {
    	display: none;
    }
    
    .hb-accom-price-caption {
    	display: none;
    }
    
    .hb-accom-desc {
    	padding: 0px 0px 60px;
    	.flex-container {
    		flex-wrap: wrap;
    		justify-content: space-around;
    		align-items: center;
    	}
    	image {
    		width: 100%;
    	}
    }
    
    .content-listing {
    	width: 90%;
    	font-family: $serif;
    }
    
    .image img {
    	width: 100%;
    }
    
    .floater {
    	margin-top: 12px;
    	width: 100%;
    }
    
    #narrow-hero {
    	background: url('/wp-content/uploads/2017/03/AKR_5781c.jpg');
    	background-size: cover;
    	height: 380px;
    	background-position: center;
    	position: relative;
    	.flex-container {
    		height: 380px;
    		justify-content: center;
    		align-items: center;
    		position: relative;
    		text-align: center;
    		h1 {
    			color: white !important;
    		}
    	}
    }
    
    //Rooms
    section#hero {
    	.flex-container {
    		height: 80vh;
    		align-content: center;
    		justify-content: center;
    		flex-wrap: wrap;
    		text-align: center;
    		background-position: center !important;
    	}
    }
    
    .container-in.transparent {
    	background: transparent;
    	color: white;
    	text-shadow: 1px 1px 1px black;
    }
    
    .container-in {
    	position: relative;
    	bottom: 0px;
    	background: white;
    	width: 100%;
    	text-align: center;
    	padding: 10px 0px;
    }
    
    #amenities {
    	.flex-container {
    		.am-item {
    			width: 50%;
    			overflow: hidden;
    			padding: 1px;
    			position: relative;
    			.caption {
    				display: flex;
    				height: 100%;
    				position: absolute;
    				align-items: center;
    				justify-content: center;
    				width: 100%;
    				opacity: 0.0;
    				transition: .7s;
    				overflow: hidden;
    				&:hover {
    					opacity: 1;
    					transition: .5s;
    				}
    				a {
    					margin-bottom: -87px;
    					color: white;
    					z-index: 99;
    					border: 1px solid white;
    					padding: 4px 16px;
    					text-decoration: none;
    				}
    			}
    			h2 {
    				position: absolute;
    				color: white;
    				font-size: 18px;
    				margin: 0;
    				padding: 0;
    			}
    			img {
    				width: 100%;
    			}
    		}
    	}
    }
    
    .container {
    	width: 85%;
    	margin: 0 auto;
    }
    
    .stamp {
    	padding-bottom: 13px;
    	img {
    		width: 70px;
    	}
    }
    
    .main_visual {
    	width: 100%;
    	img {
    		width: 100%;
    	}
    }
    
    .room-gal {
    	.item {
    		width: 33.33333333%;
    		height: 350px;
    		position: relative;
    		border: 1px solid white;
    		background-size: cover !important;
    		h2 {
    			padding: 100022px;
    			cursor: zoom-in;
    		}
    	}
    }
    
    .sidebox {
    	width: 100%;
    	padding: 0px;
    	.textbox {
    		.container {
    			.bttn-grayline {
    				padding: 7px 0px 25px 0px;
    			}
    		}
    	}
    }
    
    #room {
    	img {
    		transition: .5s;
    		cursor: zoom-in;
    		&:hover {
    			transition: .3s;
    			opacity: .5;
    		}
    	}
    	.flex-container {
    		width: 85%;
    		margin: 0 auto;
    		padding: 30px 0px;
    	}
    }
    
    .textbox .container {
    	padding: 35px 0px;
    }
    
    .room-gal {
    	display: flex;
    	flex-wrap: wrap;
    	.item {
    		max-height: 190px;
    		overflow: hidden;
    		transition: .5s;
    		cursor: zoom-in;
    		&:hover {
    			transition: .3s;
    			opacity: .5;
    		}
    		img {
    			width: 150%;
    		}
    	}
    }
    
    hr {
    	height: 1px;
    	background: #e8e8e8;
    	margin: 50px 0px;
    	width: 100%;
    	border: none;
    }
    
    //Contact
    #contact-bg {
    	background: url('/wp-content/themes/BonesTheme/library/images/contact-bg.jpg');
    	background-size: cover;
    	height: 100vh;
    }
    
    .contact {
    	background: black;
    }
    
    div#map {
    	width: 100%;
    	height: 50vh;
    }
    
    .form {
    	background: #1b1b1b;
    	width: 100%;
    	color: #7d7d7d;
    	.container {
    		width: 80%;
    		max-width: 490px;
    		padding: 60px 0px;
    	}
    }
    
    .prepad {
    	height: 108px;
    	background: black;
    }
    
    .address {
    	display: flex;
    	justify-content: space-between;
    	width: 319px;
    	a {
    		color: inherit;
    	}
    }
    
    input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    	border-radius: 0px;
    	background: #3c3c3c;
    	width: 100%;
    	max-width: 100%;
    	color: white;
    }
    
    input.wpcf7-form-control.wpcf7-text {
    	border-radius: 0px;
    	background: #3c3c3c;
    	width: 100%;
    	max-width: 100%;
    	color: white;
    }
    
    .gm-style-mtc {
    	display: none;
    }
    
    textarea.wpcf7-form-control.wpcf7-textarea {
    	background: #3c3c3c;
    	width: 100%;
    	max-width: 100%;
    	border-radius: 0px !important;
    	color: white;
    }
    
    label {
    	font-size: 16px;
    	color: gray;
    }
    
    input.wpcf7-form-control.wpcf7-submit {
    	border: 1px solid gray;
    	background: transparent;
    	padding: 14px;
    	text-transform: uppercase;
    	letter-spacing: 2px;
    	color: gray;
    	text-decoration: none;
    	font-family: 'avantgarde';
    	text-transform: uppercase;
    	letter-spacing: 2px;
    	border: 1px solid gray;
    	padding: 13px;
    	margin-right: 9px;
    	font-size: 12px;
    	transition: .5s;
    	width: 200px;
    	transition: .3s;
    	&:hover {
    		transition: .3s;
    		color: black;
    		background: gray;
    	}
    }
    
    //Gallery
    .galleria {
    	width: 80%;
    	margin: 0 auto;
    	max-width: 650px;
    	text-align: center;
    }
    
    .prefab {
    	img {
    		width: 100px;
    		margin-top: 42px;
    	}
    	.container {
    		text-align: center;
    		max-width: 500px;
    	}
    	h2 {
    		color: gray;
    		margin: 0;
    	}
    	h1 {
    		font-size: 52px;
    		margin: 0;
    		padding: 0;
    	}
    	p {
    		margin: 15px 0px 0px 0px;
    	}
    }
    
    #insta-gal {
    	width: 90%;
    	margin: 0 auto;
    	max-width: 11000px;
    	padding: 60px 0px;
    }
    
    div#booker {
    	padding: 50px 0px;
    	.container {
    		max-width: 360px;
    		text-align: center;
    		border-top: 1px solid #dedede;
    		border-bottom: 1px solid #dedede;
    		padding: 25px 0px;
    	}
    	h3 {
    		margin: 0;
    	}
    	p {
    		margin: 7px 0px 13px;
    	}
    }
    
    //Things to Do
    .blurb {
    	background: white;
    	position: absolute;
    	bottom: 0px;
    	margin: 0 auto;
    	padding: 40px;
    	width: 100%;
    	max-width: 500px;
    	left: 0;
    	right: 0;
    }
    
    .biz-copy {
    	text-align: center;
    	padding: 40px 0px;
    }
    
    .flex-container-2col {
    	width: 80%;
    	margin: 0 auto;
    	padding: 70px 0px;
    	h2 {
    		text-align: center;
    		font-size: 52px;
    		width: 100%;
    		line-height: 1.2;
    	}
    	img {
    		width: 100%;
    	}
    	.flex-item {
    		width: 100%;
    		padding-bottom: 80px;
    	}
    }
    
    .guidebar {
    	background: #eaeaea;
    	padding: 29px 0px;
    	text-transform: uppercase;
    	font-size: 12px;
    	font-weight: 900;
    	letter-spacing: 1px;
    	.flex-container {
    		flex-wrap: wrap;
    		justify-content: space-around;
    	}
    	a {
    		text-decoration: none;
    		color: #8e8e8e;
    		transition: .5s;
    		font-family: $sans-serif;
    		&:hover {
    			transition: .3s;
    			color: black;
    		}
    	}
    }
    
    //Preloader
    .js div#preloader {
    	position: fixed;
    	left: 0;
    	top: 0;
    	z-index: 999;
    	width: 100%;
    	height: 100%;
    	overflow: visible;
    	background: #fff no-repeat center center;
    }
    
    .bigone {
    	display: flex;
    	height: 100vh;
    	align-items: center;
    	justify-content: center
    }
    
    .windows8 {
    	position: relative;
    	width: 56px;
    	height: 56px;
    	margin: auto;
    }
    
    .windows8 .wBall {
    	position: absolute;
    	width: 53px;
    	height: 53px;
    	opacity: 0;
    	transform: rotate(225deg);
    	-o-transform: rotate(225deg);
    	-ms-transform: rotate(225deg);
    	-webkit-transform: rotate(225deg);
    	-moz-transform: rotate(225deg);
    	animation: orbit 6.96s infinite;
    	-o-animation: orbit 6.96s infinite;
    	-ms-animation: orbit 6.96s infinite;
    	-webkit-animation: orbit 6.96s infinite;
    	-moz-animation: orbit 6.96s infinite;
    }
    
    .windows8 .wBall .wInnerBall {
    	position: absolute;
    	width: 7px;
    	height: 7px;
    	background: rgb(0, 0, 0);
    	left: 0px;
    	top: 0px;
    	border-radius: 7px;
    }
    
    .windows8 #wBall_1 {
    	animation-delay: 1.52s;
    	-o-animation-delay: 1.52s;
    	-ms-animation-delay: 1.52s;
    	-webkit-animation-delay: 1.52s;
    	-moz-animation-delay: 1.52s;
    }
    
    .windows8 #wBall_2 {
    	animation-delay: 0.3s;
    	-o-animation-delay: 0.3s;
    	-ms-animation-delay: 0.3s;
    	-webkit-animation-delay: 0.3s;
    	-moz-animation-delay: 0.3s;
    }
    
    .windows8 #wBall_3 {
    	animation-delay: 0.61s;
    	-o-animation-delay: 0.61s;
    	-ms-animation-delay: 0.61s;
    	-webkit-animation-delay: 0.61s;
    	-moz-animation-delay: 0.61s;
    }
    
    .windows8 #wBall_4 {
    	animation-delay: 0.91s;
    	-o-animation-delay: 0.91s;
    	-ms-animation-delay: 0.91s;
    	-webkit-animation-delay: 0.91s;
    	-moz-animation-delay: 0.91s;
    }
    
    .windows8 #wBall_5 {
    	animation-delay: 1.22s;
    	-o-animation-delay: 1.22s;
    	-ms-animation-delay: 1.22s;
    	-webkit-animation-delay: 1.22s;
    	-moz-animation-delay: 1.22s;
    }
    
    @keyframes orbit {
    	0% {
    		opacity: 1;
    		z-index: 99;
    		transform: rotate(180deg);
    		animation-timing-function: ease-out;
    	}
    	7% {
    		opacity: 1;
    		transform: rotate(300deg);
    		animation-timing-function: linear;
    		origin: 0%;
    	}
    	30% {
    		opacity: 1;
    		transform: rotate(410deg);
    		animation-timing-function: ease-in-out;
    		origin: 7%;
    	}
    	39% {
    		opacity: 1;
    		transform: rotate(645deg);
    		animation-timing-function: linear;
    		origin: 30%;
    	}
    	70% {
    		opacity: 1;
    		transform: rotate(770deg);
    		animation-timing-function: ease-out;
    		origin: 39%;
    	}
    	75% {
    		opacity: 1;
    		transform: rotate(900deg);
    		animation-timing-function: ease-out;
    		origin: 70%;
    	}
    	76% {
    		opacity: 0;
    		transform: rotate(900deg);
    	}
    	100% {
    		opacity: 0;
    		transform: rotate(900deg);
    	}
    }
    
    @-o-keyframes orbit {
    	0% {
    		opacity: 1;
    		z-index: 99;
    		-o-transform: rotate(180deg);
    		-o-animation-timing-function: ease-out;
    	}
    	7% {
    		opacity: 1;
    		-o-transform: rotate(300deg);
    		-o-animation-timing-function: linear;
    		-o-origin: 0%;
    	}
    	30% {
    		opacity: 1;
    		-o-transform: rotate(410deg);
    		-o-animation-timing-function: ease-in-out;
    		-o-origin: 7%;
    	}
    	39% {
    		opacity: 1;
    		-o-transform: rotate(645deg);
    		-o-animation-timing-function: linear;
    		-o-origin: 30%;
    	}
    	70% {
    		opacity: 1;
    		-o-transform: rotate(770deg);
    		-o-animation-timing-function: ease-out;
    		-o-origin: 39%;
    	}
    	75% {
    		opacity: 1;
    		-o-transform: rotate(900deg);
    		-o-animation-timing-function: ease-out;
    		-o-origin: 70%;
    	}
    	76% {
    		opacity: 0;
    		-o-transform: rotate(900deg);
    	}
    	100% {
    		opacity: 0;
    		-o-transform: rotate(900deg);
    	}
    }
    
    @-ms-keyframes orbit {
    	0% {
    		opacity: 1;
    		z-index: 99;
    		-ms-transform: rotate(180deg);
    		-ms-animation-timing-function: ease-out;
    	}
    	7% {
    		opacity: 1;
    		-ms-transform: rotate(300deg);
    		-ms-animation-timing-function: linear;
    		-ms-origin: 0%;
    	}
    	30% {
    		opacity: 1;
    		-ms-transform: rotate(410deg);
    		-ms-animation-timing-function: ease-in-out;
    		-ms-origin: 7%;
    	}
    	39% {
    		opacity: 1;
    		-ms-transform: rotate(645deg);
    		-ms-animation-timing-function: linear;
    		-ms-origin: 30%;
    	}
    	70% {
    		opacity: 1;
    		-ms-transform: rotate(770deg);
    		-ms-animation-timing-function: ease-out;
    		-ms-origin: 39%;
    	}
    	75% {
    		opacity: 1;
    		-ms-transform: rotate(900deg);
    		-ms-animation-timing-function: ease-out;
    		-ms-origin: 70%;
    	}
    	76% {
    		opacity: 0;
    		-ms-transform: rotate(900deg);
    	}
    	100% {
    		opacity: 0;
    		-ms-transform: rotate(900deg);
    	}
    }
    
    @-webkit-keyframes orbit {
    	0% {
    		opacity: 1;
    		z-index: 99;
    		-webkit-transform: rotate(180deg);
    		-webkit-animation-timing-function: ease-out;
    	}
    	7% {
    		opacity: 1;
    		-webkit-transform: rotate(300deg);
    		-webkit-animation-timing-function: linear;
    		-webkit-origin: 0%;
    	}
    	30% {
    		opacity: 1;
    		-webkit-transform: rotate(410deg);
    		-webkit-animation-timing-function: ease-in-out;
    		-webkit-origin: 7%;
    	}
    	39% {
    		opacity: 1;
    		-webkit-transform: rotate(645deg);
    		-webkit-animation-timing-function: linear;
    		-webkit-origin: 30%;
    	}
    	70% {
    		opacity: 1;
    		-webkit-transform: rotate(770deg);
    		-webkit-animation-timing-function: ease-out;
    		-webkit-origin: 39%;
    	}
    	75% {
    		opacity: 1;
    		-webkit-transform: rotate(900deg);
    		-webkit-animation-timing-function: ease-out;
    		-webkit-origin: 70%;
    	}
    	76% {
    		opacity: 0;
    		-webkit-transform: rotate(900deg);
    	}
    	100% {
    		opacity: 0;
    		-webkit-transform: rotate(900deg);
    	}
    }
    
    @-moz-keyframes orbit {
    	0% {
    		opacity: 1;
    		z-index: 99;
    		-moz-transform: rotate(180deg);
    		-moz-animation-timing-function: ease-out;
    	}
    	7% {
    		opacity: 1;
    		-moz-transform: rotate(300deg);
    		-moz-animation-timing-function: linear;
    		-moz-origin: 0%;
    	}
    	30% {
    		opacity: 1;
    		-moz-transform: rotate(410deg);
    		-moz-animation-timing-function: ease-in-out;
    		-moz-origin: 7%;
    	}
    	39% {
    		opacity: 1;
    		-moz-transform: rotate(645deg);
    		-moz-animation-timing-function: linear;
    		-moz-origin: 30%;
    	}
    	70% {
    		opacity: 1;
    		-moz-transform: rotate(770deg);
    		-moz-animation-timing-function: ease-out;
    		-moz-origin: 39%;
    	}
    	75% {
    		opacity: 1;
    		-moz-transform: rotate(900deg);
    		-moz-animation-timing-function: ease-out;
    		-moz-origin: 70%;
    	}
    	76% {
    		opacity: 0;
    		-moz-transform: rotate(900deg);
    	}
    	100% {
    		opacity: 0;
    		-moz-transform: rotate(900deg);
    	}
    }
    
    //Simple Column
    #hero-narrow {
    	max-height: 650px;
    	background-size: cover !important;
    	width: 100%;
    }
    
    .intro.narrow {
    	height: 649px;
    	h1 {
    		margin: 0;
    		padding: 0px;
    	}
    	.container-in {
    		padding: 0px;
    	}
    }
    
    #content-short {
    	padding: 100px 0px;
    	.flex-container {
    		width: 80%;
    		margin: 0 auto;
    	}
    	.flex-item {
    		width: 100%;
    		margin-bottom: 60px;
    		img {
    			width: 100%;
    		}
    	}
    }


//404
#missing {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	min-height: 700px;
	width: 80%;
	max-width: 404px;
	h2 {
		color: black;
		width: 100%;
		font-size: 61px;
        margin: 0;
	}
	p {
		font-size: 22px;
	}
	img {
		width: 260px;
        height:260px;
	}
}

