/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
@font-face {
  font-family: 'AvantGarde';
  src: url("/wp-content/themes/BonesTheme/library/fonts/ITCAvantGardePro-Bold.eot");
  src: url("/wp-content/themes/BonesTheme/library/fonts/ITCAvantGardePro-Bold.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/BonesTheme/library/fonts/ITCAvantGardePro-Bold.woff") format("woff"), url("/wp-content/themes/BonesTheme/library/fonts/ITCAvantGardePro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'FreightText';
  src: url("/wp-content/themes/BonesTheme/library/fonts/FreightTextPro-Book.eot");
  src: url("/wp-content/themes/BonesTheme/library/fonts/FreightTextPro-Book.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/BonesTheme/library/fonts/FreightTextPro-Book.woff") format("woff"), url("/wp-content/themes/BonesTheme/library/fonts/FreightTextPro-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 20, ../scss/breakpoints/_768up.scss */
.overlay ul li a {
  font-size: inherit;
}

/* line 25, ../scss/breakpoints/_768up.scss */
#hero {
  background-size: cover !important;
}

/* line 29, ../scss/breakpoints/_768up.scss */
.content {
  height: 93vh;
}

/* line 33, ../scss/breakpoints/_768up.scss */
#map {
  margin-top: 0px;
}

/* line 37, ../scss/breakpoints/_768up.scss */
.hb-search-fields.hb-clearfix p {
  padding: 0px 5px;
  margin: 0px;
}

/* line 42, ../scss/breakpoints/_768up.scss */
#container {
  background: #f5f5f5;
}

/* line 45, ../scss/breakpoints/_768up.scss */
#landing {
  width: 740px;
  margin: 0 auto;
  top: -110px;
}

/* line 52, ../scss/breakpoints/_768up.scss */
.c p {
  font-size: 18px;
}

/* line 57, ../scss/breakpoints/_768up.scss */
#gallery .gal-item {
  width: 33%;
  height: 250px;
  border: 1px solid white;
}
/* line 62, ../scss/breakpoints/_768up.scss */
#gallery .container {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
  padding-bottom: 100px;
}

/* line 70, ../scss/breakpoints/_768up.scss */
#wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 81, ../scss/breakpoints/_768up.scss */
#a {
  flex-grow: 0;
  flex-basis: 50%;
  align-self: stretch;
  width: 660px;
  background-size: cover !important;
}
/* line 87, ../scss/breakpoints/_768up.scss */
#a .container {
  height: 100%;
  padding: 40px;
  margin: 0 auto;
  position: relative;
}
/* line 92, ../scss/breakpoints/_768up.scss */
#a .container .bttn-whiteline {
  position: absolute;
  bottom: 60px;
}
/* line 97, ../scss/breakpoints/_768up.scss */
#a h2 {
  color: white;
  font-size: 51px;
  line-height: 1.2;
  margin: 0;
}
/* line 103, ../scss/breakpoints/_768up.scss */
#a h3 {
  color: white;
  margin: 0;
}

/* line 109, ../scss/breakpoints/_768up.scss */
#a2 {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-size: cover !important;
}

/* line 117, ../scss/breakpoints/_768up.scss */
#b {
  flex-basis: 100%;
  height: 50%;
  background-size: cover !important;
  width: 100%;
  background-position: center !important;
}

/* line 125, ../scss/breakpoints/_768up.scss */
.flex-container {
  display: flex;
}
/* line 127, ../scss/breakpoints/_768up.scss */
.flex-container .c {
  width: 100%;
  height: 353px;
  padding: 17px;
  background: white;
}
/* line 132, ../scss/breakpoints/_768up.scss */
.flex-container .c .container {
  width: 70%;
  margin: 0 auto;
}
/* line 136, ../scss/breakpoints/_768up.scss */
.flex-container .c h4 {
  text-align: center;
  margin: 0;
}
/* line 141, ../scss/breakpoints/_768up.scss */
.flex-container .d {
  flex: 1;
  background-size: cover !important;
  width: 50%;
  min-height: 380px;
}

/* line 151, ../scss/breakpoints/_768up.scss */
.flex-container.b {
  width: 50%;
}

/* line 155, ../scss/breakpoints/_768up.scss */
#grid1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
/* line 159, ../scss/breakpoints/_768up.scss */
#grid1 .flex-container {
  width: 50%;
}
/* line 161, ../scss/breakpoints/_768up.scss */
#grid1 .flex-container .flex-image {
  width: 100%;
  height: inherit;
  background-size: cover !important;
}
/* line 168, ../scss/breakpoints/_768up.scss */
#grid1 .flex-container .fullbox p {
  font-size: 14px;
}

/* line 177, ../scss/breakpoints/_768up.scss */
#gallery .flex-container .gal-item {
  width: 33.3%;
}

/* line 184, ../scss/breakpoints/_768up.scss */
#dinein .flex-container {
  flex-direction: row;
  align-items: center;
}
/* line 188, ../scss/breakpoints/_768up.scss */
#dinein .flex-container .copy {
  width: 50%;
}
/* line 190, ../scss/breakpoints/_768up.scss */
#dinein .flex-container .copy .wrapper {
  max-width: 360px;
  padding: 70px 0px;
}
/* line 196, ../scss/breakpoints/_768up.scss */
#dinein .flex-container .img {
  width: 50%;
  height: 540px;
}

/* line 205, ../scss/breakpoints/_768up.scss */
#room {
  padding: 100px 0px;
}

/* line 210, ../scss/breakpoints/_768up.scss */
.container-in {
  padding: 15px 0px;
}
/* line 212, ../scss/breakpoints/_768up.scss */
.container-in .container {
  width: 55%;
}

/* line 219, ../scss/breakpoints/_768up.scss */
#amenities .flex-container .am-item {
  width: 25%;
}

/* line 227, ../scss/breakpoints/_768up.scss */
.biz-img {
  width: 40%;
}

/* line 231, ../scss/breakpoints/_768up.scss */
.biz-copy {
  width: 43%;
  text-align: left;
}

/* line 238, ../scss/breakpoints/_768up.scss */
.flex-container-2col .flex-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* line 14, ../scss/breakpoints/_1030up.scss */
#gallery .flex-container .gal-item {
  width: 20%;
  height: 220px;
}

/* line 22, ../scss/breakpoints/_1030up.scss */
.c p {
  font-size: 18px;
}

/* line 28, ../scss/breakpoints/_1030up.scss */
.hb-accom-title {
  display: none;
}

/* line 32, ../scss/breakpoints/_1030up.scss */
.hb-accom-price {
  display: none;
}

/* line 36, ../scss/breakpoints/_1030up.scss */
.hb-accom-price-caption {
  display: none;
}

/* line 41, ../scss/breakpoints/_1030up.scss */
.flex-container .d {
  display: block;
}
/* line 44, ../scss/breakpoints/_1030up.scss */
.flex-container .c {
  width: 50%;
}
/* line 46, ../scss/breakpoints/_1030up.scss */
.flex-container .c .container {
  width: 93%;
}

/* line 52, ../scss/breakpoints/_1030up.scss */
.hb-accom-desc {
  padding: 50px 0px 70px;
}
/* line 54, ../scss/breakpoints/_1030up.scss */
.hb-accom-desc .flex-container {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
/* line 59, ../scss/breakpoints/_1030up.scss */
.hb-accom-desc image {
  width: 50%;
}

/* line 64, ../scss/breakpoints/_1030up.scss */
.image {
  width: 44%;
}

/* line 68, ../scss/breakpoints/_1030up.scss */
.content-listing {
  width: 50%;
}

/* line 72, ../scss/breakpoints/_1030up.scss */
.image img {
  width: 100%;
}

/* line 77, ../scss/breakpoints/_1030up.scss */
.container-in {
  width: 750px;
  position: relative;
  margin: 0 auto;
}

/* line 83, ../scss/breakpoints/_1030up.scss */
.stamp img {
  width: 100px;
}

/* line 87, ../scss/breakpoints/_1030up.scss */
h1.lead {
  font-size: 100px;
  padding: 12px 0px 40px;
}

/* line 94, ../scss/breakpoints/_1030up.scss */
#amenities .flex-container .am-item {
  width: 25%;
  max-height: 313px;
}

/* line 102, ../scss/breakpoints/_1030up.scss */
.textbox .container {
  padding: 30px 0px;
  min-height: 282px;
}

/* line 109, ../scss/breakpoints/_1030up.scss */
.room-gal .item {
  height: 190px;
  min-height: 190px;
}
/* line 112, ../scss/breakpoints/_1030up.scss */
.room-gal .item img {
  position: relative;
  top: -18px;
}

/* line 119, ../scss/breakpoints/_1030up.scss */
.main_visual {
  width: 50%;
  max-width: 580px;
  overflow: hidden;
}
/* line 123, ../scss/breakpoints/_1030up.scss */
.main_visual img {
  width: 110%;
  position: relative;
}

/* line 129, ../scss/breakpoints/_1030up.scss */
.gal-item.hide {
  display: none;
}

/* line 133, ../scss/breakpoints/_1030up.scss */
#room {
  padding: 150px 0px;
}
/* line 135, ../scss/breakpoints/_1030up.scss */
#room .flex-container {
  width: 95%;
  padding: 65px 0px 0px 0px;
  align-items: center;
}

/* line 142, ../scss/breakpoints/_1030up.scss */
.sidebox {
  width: 50%;
}

/* line 147, ../scss/breakpoints/_1030up.scss */
#dinein {
  padding: 100px 0px;
}
/* line 150, ../scss/breakpoints/_1030up.scss */
#dinein .flex-container .img {
  margin: 0px;
  height: 570px;
}

/* line 157, ../scss/breakpoints/_1030up.scss */
.form {
  width: 50%;
}

/* line 161, ../scss/breakpoints/_1030up.scss */
div#map {
  width: 50%;
  height: 120vh;
}

/* line 168, ../scss/breakpoints/_1030up.scss */
#grid1 .flex-container .fullbox {
  padding: 57px;
}
/* line 170, ../scss/breakpoints/_1030up.scss */
#grid1 .flex-container .fullbox p {
  font-size: 18px;
}

/* line 178, ../scss/breakpoints/_1030up.scss */
section#connect .flex-container {
  padding: 150px 0px;
}

/* line 185, ../scss/breakpoints/_1030up.scss */
.guidebar .flex-container {
  justify-content: space-between;
  margin: 0 auto;
  max-width: 620px;
}
/* line 190, ../scss/breakpoints/_1030up.scss */
.guidebar a {
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 900;
}

/* line 198, ../scss/breakpoints/_1030up.scss */
.intro {
  height: 100vh;
}

/* line 202, ../scss/breakpoints/_1030up.scss */
.intro-narrow {
  margin-top: 50px;
}

/* line 207, ../scss/breakpoints/_1030up.scss */
.address {
  width: 360px;
}
/* line 209, ../scss/breakpoints/_1030up.scss */
.address a {
  color: inherit;
}

/* line 214, ../scss/breakpoints/_1030up.scss */
#hero-narrow {
  max-height: 490px;
  background-size: cover !important;
  width: 100%;
}

/* line 220, ../scss/breakpoints/_1030up.scss */
.intro.narrow {
  height: 490px;
}

/* line 225, ../scss/breakpoints/_1030up.scss */
#content-short .flex-container {
  width: 80%;
  margin: 0 auto;
  max-width: 1100px;
  justify-content: space-between;
}
/* line 231, ../scss/breakpoints/_1030up.scss */
#content-short .flex-item {
  width: 48%;
}
/* line 235, ../scss/breakpoints/_1030up.scss */
#content-short .boxer {
  background: whitesmoke;
  padding: 41px;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
