/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/


@font-face {
	font-family: 'AvantGarde';
	src: url('/wp-content/themes/BonesTheme/library/fonts/ITCAvantGardePro-Bold.eot');
	src: url('/wp-content/themes/BonesTheme/library/fonts/ITCAvantGardePro-Bold.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/BonesTheme/library/fonts/ITCAvantGardePro-Bold.woff') format('woff'),
		url('/wp-content/themes/BonesTheme/library/fonts/ITCAvantGardePro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'FreightText';
	src: url('/wp-content/themes/BonesTheme/library/fonts/FreightTextPro-Book.eot');
	src: url('/wp-content/themes/BonesTheme/library/fonts/FreightTextPro-Book.eot?#iefix') format('embedded-opentype'),
		url('/wp-content/themes/BonesTheme/library/fonts/FreightTextPro-Book.woff') format('woff'),
		url('/wp-content/themes/BonesTheme/library/fonts/FreightTextPro-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


// font stacks
$sans-serif:        "AvantGarde", Helvetica, Arial, sans-serif;
$serif:             "FreightText", Cambria, Times New Roman, Times,;

/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
$lato:              'Lato', $sans-serif;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
